.body_wrapper {
  padding: 5%;
}

.radio_wrapper {
  margin: 10px 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.graph_container {
  border: 1px solid black;
  margin: 15px 0;
}

a {
  margin: 10px;
}

.sortCard-container {
  /* border: 2px solid grey; */
  padding: 0 10px;
  background-color: rgb(26, 179, 18);
  /* color: white; */
}

.sortCards-container {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: black;
}
