body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #5EFCE8, #736EFE);
}

.body_wrapper {
  padding: 5%;
}

button {
  background: transparent;
  border: 2px solid white;
  padding: 15px 25px;
  font-size: 18px;
  transition: .7s;
}

button:hover {
  background: rgba(255,255,255,0.4);
  cursor: pointer;
}

.radio_wrapper {
  margin: 10px 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.graph_container {
  border: 1px solid black;
  margin: 15px 0;
}

a {
  margin: 10px;
}

.sortCard-container {
  /* border: 2px solid grey; */
  display: inline;
  padding: 10px;
  margin: 5px;
  /* background-color: rgb(26, 179, 18); */
  /* color: white; */
}

.sortCard-container h2 {
  display: inline;
}

.sortCards-container {
  margin: 10px 0;
  padding: 30px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 10px 0;
}

.side-submenu {

}

.highCard {
  border: 2px solid yellow;
}

.swapCard {
  border: 2px solid red;
}

.regCard {
  border: 1px solid grey;
}

.d3-wrap {
  /* height: 700px; */
  width: 360px;
  border: 1px dotted blue;
}
