.body_wrapper {
  padding: 5%;
}

.radio_wrapper {
  margin: 10px 0;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}

.graph_container {
  border: 1px solid black;
  margin: 15px 0;
}

a {
  margin: 10px;
}

h2 {
  display: inline;
}
.sortCard-container {
  /* border: 2px solid grey; */
  display: inline;
  padding: 10px;
  margin: 5px;
  background-color: rgb(26, 179, 18);
  /* color: white; */
}

.sortCards-container {
  padding: 30px;
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-end; */
  /* align-items: flex-start; */
  justify-content: space-around;
  background-color: black;
}
